body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 10px;
}


.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    vertical-align: center;
}

.header img {
    float: right;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-left {
    float: left;
}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.aside {
    padding: 10px;
    grid-column: 2;
    grid-row: 2;
    border-radius: 5px;
    background-color: #f2f2f2;
}


#ticket-list {
    padding: 10px;
    margin-right: 10px;
    grid-column: 1;
    grid-row: 2;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.ticket {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.first {
    border-top-style: solid;
}

.last {
    border-bottom-style: none;
}

.tag {
    font-size: medium;
    float: right;
    margin-right: 10px;
    vertical-align: center;
}


.state {
    color: black;
    padding: 5px;
    width: auto;
    vertical-align: center;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.open {
    background: red;
}

.in-progress {
    background: blue;
}

.done {
    background: lawngreen;
}

.closed {
    background: gray;
}

input[type=text], input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button {
    text-decoration: none;
    font-size: 13px;
    padding: 11px 20px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.delete {
    background-color: red;
    color: white;
}

.edit {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.not-found {
    text-align: center;
}