<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Homepage of the website">
        <meta name="keywords" content="HTML, Home, Tickets">
        <meta name="author" content="Davide Ravani">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>

        <!-- HEADER -->
        <div th:replace="fragments :: header('index')"></div>

        <!-- MAIN -->
        <main class="d-flex flex-nowrap h-100 d-inline-block"><!--  -->
            <div class="container fluid flex-column">
                <section class="content">
                    <div class="row">
                        <!-- TICKETS -->
                        <div class="col-md-12">
                            <div class="grid support-content">
                                <div class="grid-body">
                                    <h2>Tickets</h2>

                                    <hr>

                                    <div class="padding"></div>

                                    <div class="row">
                                        <!-- BEGIN TICKET CONTENT -->
                                        <div class="col-md-12">
                                            <ul class="list-group fa-padding">
                                                <li class="list-group-item" data-toggle="modal" data-target="#issue" th:each="ticket: ${tickets}">
                                                    <div class="media">
                                                        <i class="fa fa-cog pull-left"></i>
                                                        <div class="media-body">
                                                            <strong th:text="${ticket.title}">Title</strong>
                                                            <span class="badge bg-primary" th:text="${ticket.status}">IMPORTANT</span>
                                                            <a class="number pull-right" th:text="${'#' + ticket.id}" th:href="@{'/ticket/' + ${ticket.id}}"># 13698</a>
                                                            <p class="info">Opened by
                                                                <a href="#" th:text="${ticket.author.name + ' ' + ticket.author.surname}">jwilliams</a>
                                                                <span th:text=" ${ticket.date}"> Date</span>
                                                                <i class="fa fa-comments"></i><span th:text="${#strings.abbreviate(ticket.description,20)}">2 comments</span></p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- SIDEBAR -->
            <div th:replace="fragments :: sidebar"></div>

        </main>

        <!-- FOOTER -->
        <div th:replace="fragments :: footer"></div>
    </body>
</html>