<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Details of ticket 1">
        <meta name="keywords" content="HTML, Home, Ticket">
        <meta name="author" content="Davide Ravani">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}" media="screen"/>

        <title>New Ticket</title>
    </head>
    <body>
        <header  class="header">
            <img th:src="@{/img/logo_supsi.png}" alt="Scuola universitaria professionale della Svizzera italiana" width="165px" height="71px">

            <nav class="header-left">
                <a th:href="@{/}">Home</a>
                <a th:href="@{/ticket/new}" class="active">Add Ticket</a>
            </nav>
        </header>

        <main>
            <h1 class="not-found" th:text="${thing + ' not found.'}">Not found</h1>
        </main>

        <footer> <!-- site wide footer -->
            <small>Copyleft CC-by 2022 by Ravani D.</small>
        </footer>
    </body>
</html>